In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
os.chdir("/home/reffert/DeepAR_InfluenzaForecast")

In [2]:
influenza_df = pd.read_csv("/home/reffert/DeepAR_InfluenzaForecast/Notebooks/DataProcessing/influenza.csv", sep=",")[["year", "date", "location", "week", "age_group", "value"]]

influenza_df["date"] = pd.to_datetime(influenza_df['date'])
print(np.unique(influenza_df["date"]))

['2001-01-07T00:00:00.000000000' '2001-01-14T00:00:00.000000000'
 '2001-01-21T00:00:00.000000000' ... '2022-12-18T00:00:00.000000000'
 '2022-12-25T00:00:00.000000000' '2023-01-01T00:00:00.000000000']

In [6]:
times = [f"{year} - {len(list(influenza_df[influenza_df.date.dt.year == int(year)].date.unique()))}" for year in influenza_df["date"].dt.year.unique()]
print(times)
s = 0
for time in times:
    s += int(time[-2:])
print(s)
print(s/(len(times)-1))
print(influenza_df[influenza_df.date.dt.year == 2005].date.unique())

['2001 - 52', '2002 - 52', '2003 - 52', '2004 - 52', '2005 - 52', '2006 - 53', '2007 - 52', '2008 - 52', '2009 - 52', '2010 - 52', '2011 - 52', '2012 - 53', '2013 - 52', '2014 - 52', '2015 - 52', '2016 - 52', '2017 - 53', '2018 - 52', '2019 - 52', '2020 - 52', '2021 - 52', '2022 - 52', '2023 - 1']
1148
52.18181818181818
['2005-01-02T00:00:00.000000000' '2005-01-09T00:00:00.000000000'
 '2005-01-16T00:00:00.000000000' '2005-01-23T00:00:00.000000000'
 '2005-01-30T00:00:00.000000000' '2005-02-06T00:00:00.000000000'
 '2005-02-13T00:00:00.000000000' '2005-02-20T00:00:00.000000000'
 '2005-02-27T00:00:00.000000000' '2005-03-06T00:00:00.000000000'
 '2005-03-13T00:00:00.000000000' '2005-03-20T00:00:00.000000000'
 '2005-03-27T00:00:00.000000000' '2005-04-03T00:00:00.000000000'
 '2005-04-10T00:00:00.000000000' '2005-04-17T00:00:00.000000000'
 '2005-04-24T00:00:00.000000000' '2005-05-01T00:00:00.000000000'
 '2005-05-08T00:00:00.000000000' '2005-05-15T00:00:00.000000000'
 '2005-05-22T00:00:00.000000000' '2005-05-29T00:00:00.000000000'
 '2005-06-05T00:00:00.000000000' '2005-06-12T00:00:00.000000000'
 '2005-06-19T00:00:00.000000000' '2005-06-26T00:00:00.000000000'
 '2005-07-03T00:00:00.000000000' '2005-07-10T00:00:00.000000000'
 '2005-07-17T00:00:00.000000000' '2005-07-24T00:00:00.000000000'
 '2005-07-31T00:00:00.000000000' '2005-08-07T00:00:00.000000000'
 '2005-08-14T00:00:00.000000000' '2005-08-21T00:00:00.000000000'
 '2005-08-28T00:00:00.000000000' '2005-09-04T00:00:00.000000000'
 '2005-09-11T00:00:00.000000000' '2005-09-18T00:00:00.000000000'
 '2005-09-25T00:00:00.000000000' '2005-10-02T00:00:00.000000000'
 '2005-10-09T00:00:00.000000000' '2005-10-16T00:00:00.000000000'
 '2005-10-23T00:00:00.000000000' '2005-10-30T00:00:00.000000000'
 '2005-11-06T00:00:00.000000000' '2005-11-13T00:00:00.000000000'
 '2005-11-20T00:00:00.000000000' '2005-11-27T00:00:00.000000000'
 '2005-12-04T00:00:00.000000000' '2005-12-11T00:00:00.000000000'
 '2005-12-18T00:00:00.000000000' '2005-12-25T00:00:00.000000000']

In [20]:
times = [f"{year} - {len(list(influenza_df[influenza_df.date.dt.year == int(year)].date.unique()))}" for year in influenza_df["date"].dt.year.unique()]
print(times)
print(influenza_df[influenza_df.date.dt.year == 2005].date.unique())

['2004 - 49', '2005 - 47', '2006 - 51', '2007 - 50', '2008 - 48', '2009 - 52', '2010 - 51', '2011 - 51', '2012 - 49', '2013 - 51', '2014 - 52', '2015 - 52', '2016 - 52', '2017 - 53', '2018 - 52', '2019 - 52', '2020 - 52', '2021 - 52', '2022 - 43', '2003 - 49', '2002 - 45']
['2005-01-02T00:00:00.000000000' '2005-01-09T00:00:00.000000000'
 '2005-01-16T00:00:00.000000000' '2005-01-23T00:00:00.000000000'
 '2005-01-30T00:00:00.000000000' '2005-02-06T00:00:00.000000000'
 '2005-02-13T00:00:00.000000000' '2005-02-20T00:00:00.000000000'
 '2005-02-27T00:00:00.000000000' '2005-03-06T00:00:00.000000000'
 '2005-03-13T00:00:00.000000000' '2005-03-20T00:00:00.000000000'
 '2005-03-27T00:00:00.000000000' '2005-04-03T00:00:00.000000000'
 '2005-04-10T00:00:00.000000000' '2005-04-17T00:00:00.000000000'
 '2005-04-24T00:00:00.000000000' '2005-05-01T00:00:00.000000000'
 '2005-05-08T00:00:00.000000000' '2005-05-15T00:00:00.000000000'
 '2005-05-22T00:00:00.000000000' '2005-05-29T00:00:00.000000000'
 '2005-06-05T00:00:00.000000000' '2005-06-12T00:00:00.000000000'
 '2005-06-19T00:00:00.000000000' '2005-06-26T00:00:00.000000000'
 '2005-07-03T00:00:00.000000000' '2005-07-10T00:00:00.000000000'
 '2005-07-17T00:00:00.000000000' '2005-07-31T00:00:00.000000000'
 '2005-08-14T00:00:00.000000000' '2005-08-21T00:00:00.000000000'
 '2005-08-28T00:00:00.000000000' '2005-09-18T00:00:00.000000000'
 '2005-09-25T00:00:00.000000000' '2005-10-02T00:00:00.000000000'
 '2005-10-09T00:00:00.000000000' '2005-10-23T00:00:00.000000000'
 '2005-10-30T00:00:00.000000000' '2005-11-06T00:00:00.000000000'
 '2005-11-13T00:00:00.000000000' '2005-11-20T00:00:00.000000000'
 '2005-11-27T00:00:00.000000000' '2005-12-04T00:00:00.000000000'
 '2005-12-11T00:00:00.000000000' '2005-12-18T00:00:00.000000000'
 '2005-12-25T00:00:00.000000000']